#main,
.d-header {
    background-color: #f5f7fa !important;
}
  
  .d-header-icons {
      display: inline-flex;
  }

@media screen and (max-width: 768px) {
.topic-list tr {
    width: 100%;
    
    .main-link {
        width: 70%;
    }
}


}

.topic-list {
    th,
    td {
        max-width: unset;
    }
}


.topic-list-item {
    td {
        .pull-left {
            display: none;
        }
        
        .right {
            margin-left: 0;
            
            .main-link {
                padding: 0;
            }
            
            .posts-map {
                color: #000000 !important;
                padding: 0;
            }
            
            .activity {
                a {
                    color: #000000 !important;
                }
            }
        }
        
        .topic-item-stats {
            .category {
                margin-left: 28px;
            }
            
            .discourse-tags {
                margin-left: 28px;
            }
            
            .badge-wrapper {
                padding: 0;
            }
        }
    }
    
    &:not(.pinned) {
        .main-link {
            margin-left: 28px;
        }
    }
}

.btn .fa {
    margin-right: 0;
}