@import "common/foundation/variables";

.d-header {
    box-shadow: unset;
    height: unset;
    & > .wrap .contents {
        padding: 0 15px;
    }

  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }

  .panel {
      margin-left: 0;
      flex: 1;
      max-width: 1065px;

      @media(max-width: 567px) {
        max-width: 333px;
      }

      @media (min-width: 567.1px) and (max-width: 768px) {
        max-width: 567px;
      }

      @media (min-width: 768.1px) and (max-width: 1228px) {
        max-width: 725px;
      }
  }

  .header-buttons {
    display: block;
    align-items: unset;
    margin-top: 0;
  }

  &-icons {
    position: relative;
    display: block;
    margin-left: auto;
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 28px;
  margin-left:0;
  .headerLink {
    list-style: none;
    width: 90px;
    height: 60px;

    @media(max-width: 991.98px) {
      height: 100%;
      min-height: 62px;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    a {
      line-height: 30px;
      display: block;
      text-align: center;
      color: #000;
      font-family: "Asap",sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      height: 100%;

      @media screen and (max-width: 991.98px) {
        margin-top: unset !important;
        padding-top: unset !important;
        top: unset !important;
      }
    }
  }

  svg[class^="restarters-"] {
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
    max-height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 30px 30px;

    @media(max-width: 991.98px) {
        margin: 15px auto;
    }
  }

  .restarters-talk-icon {
    background-image:
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27.5" height="23.325" viewBox="0 0 27.5 23.325"><g data-name="Vrstva 147"><path d="M23.75 0h-20A3.75 3.75 0 0 0 0 3.75V15a3.75 3.75 0 0 0 3.75 3.75h1.875L8.5 22.575a1.875 1.875 0 0 0 3 0l2.875-3.825h9.375A3.75 3.75 0 0 0 27.5 15V3.75A3.75 3.75 0 0 0 23.75 0zM25 15a1.25 1.25 0 0 1-1.25 1.25H13.125L10 20.413 6.875 16.25H3.75A1.25 1.25 0 0 1 2.5 15V3.75A1.25 1.25 0 0 1 3.75 2.5h20A1.25 1.25 0 0 1 25 3.75z" data-name="Path 161"></path><path d="M6.25 7.5h6.25a1.25 1.25 0 0 0 0-2.5H6.25a1.25 1.25 0 0 0 0 2.5z" data-name="Path 162"></path><path d="M20 10H6.25a1.25 1.25 0 0 0 0 2.5H20a1.25 1.25 0 0 0 0-2.5z" data-name="Path 163"></path></g></svg>');
  }

  .restarters-fixometer-icon {
    background-image:
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27.5" height="20" viewBox="0 0 27.5 20"><g data-name="Vrstva 163"><path d="M21.25 0h-10a3.75 3.75 0 0 0-3.525 2.5H7.5A3.75 3.75 0 0 0 3.963 5a1.25 1.25 0 0 0-.213 0h-2.5a1.25 1.25 0 0 0 0 2.5h2.5a1.25 1.25 0 0 0 .213 0A3.75 3.75 0 0 0 7.5 10h.462a3.75 3.75 0 0 0 3.288 1.975h5.925v4.275a3.75 3.75 0 0 0 3.75 3.75h2.825a3.75 3.75 0 0 0 3.75-3.75v-10A6.25 6.25 0 0 0 21.25 0zm-15 6.25A1.25 1.25 0 0 1 7.5 5v2.5a1.25 1.25 0 0 1-1.25-1.25zm18.75 10a1.25 1.25 0 0 1-1.25 1.25h-2.825a1.25 1.25 0 0 1-1.25-1.25v-5.275a1.5 1.5 0 0 0-1.5-1.5H11.25A1.25 1.25 0 0 1 10 8.225V3.75a1.25 1.25 0 0 1 1.25-1.25h10A3.75 3.75 0 0 1 25 6.25z" data-name="Path 137"/><path d="M21.25 5H20a1.25 1.25 0 0 0 0 2.5h1.25a1.25 1.25 0 0 0 0-2.5z" data-name="Path 138"/></g></svg>');
  }

  .restarters-events-icon {
    background-image:
        url('data:image/svg+xml;utf8,<svg width="30" height="25" viewBox="0 0 30 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><g id="Path_72" transform="matrix(1,0,0,1,-1,-2)"><path d="M24.75,4.5L23.5,4.5L23.5,3.25C23.5,2.564 22.936,2 22.25,2C21.564,2 21,2.564 21,3.25L21,4.5L8.5,4.5L8.5,3.25C8.5,2.564 7.936,2 7.25,2C6.564,2 6,2.564 6,3.25L6,4.5L4.75,4.5C2.693,4.5 1,6.193 1,8.25L1,23.25C1,25.307 2.693,27 4.75,27L24.75,27C26.807,27 28.5,25.307 28.5,23.25L28.5,8.25C28.5,6.193 26.807,4.5 24.75,4.5ZM3.5,8.25C3.5,7.564 4.064,7 4.75,7L24.75,7C25.436,7 26,7.564 26,8.25L26,9.5L3.5,9.5L3.5,8.25ZM26,23.25C26,23.936 25.436,24.5 24.75,24.5L4.75,24.5C4.064,24.5 3.5,23.936 3.5,23.25L3.5,12L26,12L26,23.25Z" style="fill:rgb(14,19,23);"></path></g><g transform="matrix(1,0,0,1,-3.21859,1.0671)"><path d="M16.969,11.433L18.149,13.546L20.427,14.072L18.878,15.903L19.106,18.341L16.969,17.36L14.831,18.341L15.059,15.903L13.51,14.072L15.789,13.546L16.969,11.433Z" style="fill:none;stroke:black;stroke-width:1px;"></path></g></svg>');
  }

  .restarters-groups-icon {
    background-image:
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="group_ico" width="30" height="30" viewBox="0 0 30 30"><defs><style>.cls-1{fill:none}</style></defs><g id="Group_2881" data-name="Group 2881" transform="translate(.875 2.125)"><path id="Path_2173" d="M7.95 1.7a3.9 3.9 0 0 0-3.875 3.875A3.3 3.3 0 0 0 4.95 7.95 7.188 7.188 0 0 0 .7 14.7v.75a1.125 1.125 0 0 0 2.25 0v-.75A5.282 5.282 0 0 1 8.2 9.45a3.9 3.9 0 0 0 3.875-3.875A4.034 4.034 0 0 0 7.95 1.7zM9.7 5.575a1.709 1.709 0 0 1-1.75 1.75 1.709 1.709 0 0 1-1.75-1.75 1.709 1.709 0 0 1 1.75-1.75 1.709 1.709 0 0 1 1.75 1.75z" data-name="Path 2173" transform="translate(-.7 -1.7)"></path><path id="Path_2174" d="M21.275 7.95a3.946 3.946 0 0 0 .875-2.375 3.875 3.875 0 1 0-3.875 3.875 5.282 5.282 0 0 1 5.25 5.25v.75a1.125 1.125 0 1 0 2.25 0v-.75a7.836 7.836 0 0 0-4.5-6.75zM19.9 5.575a1.75 1.75 0 1 1-3.5 0 1.75 1.75 0 0 1 3.5 0z" data-name="Path 2174" transform="translate(2.725 -1.7)"></path><path id="Path_2175" d="M17.85 15.875a5.668 5.668 0 0 0 1.75-4.125 5.75 5.75 0 0 0-11.5 0 5.668 5.668 0 0 0 1.75 4.125A9.116 9.116 0 0 0 4.6 24.25v.875a1.253 1.253 0 0 0 1.25 1.25 1.344 1.344 0 0 0 1.25-1.25v-.875a6.75 6.75 0 0 1 13.5 0v.875a1.253 1.253 0 0 0 1.25 1.25 1.344 1.344 0 0 0 1.25-1.25v-.875a9.116 9.116 0 0 0-5.25-8.375zm-.875-4.125a3.227 3.227 0 0 1-3.25 3.25 3.123 3.123 0 0 1-3.125-3.25 3.309 3.309 0 0 1 3.25-3.25 3.2 3.2 0 0 1 3.125 3.25z" data-name="Path 2175" transform="translate(.275 -.625)"></path></g></svg>');
  }

  .restarters-wiki-icon {
    background-image:
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect width="30" height="30" fill="none"></rect><g transform="translate(5 3)"><path d="M22.222,7.422H7.543a2.064,2.064,0,0,1,0-4.128H22.222a1.149,1.149,0,0,0,1.147-1.147A1.083,1.083,0,0,0,22.222,1H7.543A4.309,4.309,0,0,0,3.3,5.243V21.757A4.309,4.309,0,0,0,7.543,26H22.222a1.149,1.149,0,0,0,1.147-1.147V8.454A1.219,1.219,0,0,0,22.222,7.422ZM21.075,9.6V23.936H7.543a2.056,2.056,0,0,1-2.064-2.064V9.028A3.96,3.96,0,0,0,7.543,9.6Z" transform="translate(-3.3 -1)"></path></g></svg>');
  }
}

.custom-header-links {
  > li {
  &:hover{
    a {
      border-top: 7px solid #000000;
      margin-top: -5px;
      padding-top: 21px;
      position: relative;
      top: -23px;

      @media (max-width: 991.98px) {
        border-top: 0 !important;
        border-bottom: 7px solid #000000;
        top: 0 !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
        height: 47px;
      }

      }
    }
  }

  .active {
    a {
      border-top: 7px solid #000000;
      margin-top: -5px;
      padding-top: 21px;
      position: relative;
      top: -23px;
    }
  }

  @media (max-width: 991.98px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1500;
    background: white;
    margin: 0;
    justify-content: space-between !important;

    a {
      span {
        display: none;
      }
    }
  }
}


.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}
