//Based on Material Design Theme: https://github.com/discourse/material-design-stock-theme

//use ASAP font
html {
  font-family: 'Asap', sans-serif;
  font-size: 15.75px;
}

body input,
body button,
body select,
body textarea {
  font-family: inherit;
}

h1, h2 {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    font-family: 'Asap', sans-serif !important;
}

a {
    color: $primary;
}

a:visited {
    color: $primary;
}

.flag-action-type-details {
    a {
       text-decoration: underline; 
    }
    a:hover {
        color: $tertiary;
    }
}

p > code, li > code, pre > code {
    color: $danger;
    background-color: $secondary;
    border-radius: 4px;
    padding: 0 4px 0 4px;
}

// TOPICS TABLE
table.topic-list {
    border-collapse: separate; //redesign
    border-spacing: 0 9px; //redesign
    background-color: inherit;
}

// column headings & last visit separator
table.topic-list thead tr, table.topic-list thead th, table.topic-list thead th:hover, table.topic-list thead tr:hover, .topic-list .topic-list-item-separator, .topic-list .topic-list-item-separator:hover {
    background-color: inherit; //redesign
    border: none; //redesign
    box-shadow: none;
    color: $primary;
    text-transform: uppercase;
    font-size: 98%;
}

// last visit separator
.topic-list .topic-list-item-separator td span {
    color: $danger;
    background-color: $secondary;
 }

// pinned topics
.topic-list-item.pinned {
    box-shadow: 1px 1px 0 0 inset, -1px -1px 0 0 inset, 5px 0 0 0 $primary inset;
}

.topic-list-item.pinned:hover {
    box-shadow: 5px 5px 0 0, 1px 1px 0 0 inset, -1px -1px 0 0 inset, 5px 0 0 0 $primary inset;
}

// normal topics
table.topic-list tr {
    background-color: #fff; //redesign
}

table.topic-list tr:hover {
    border: 1px solid $primary; //redesign
    box-shadow: 5px 5px 0 0, 1px 1px 0 0 inset, -1px -1px 0 0 inset; //redesign
}

.topic-list th, .topic-list td {
    padding: 0; //redesign
}

// category badge (under topic title)
.badge-wrapper .badge-category .category-name {
    text-transform: uppercase;
    font-size: 90%;
}

// topic titles
span.link-top-line:hover {
    text-decoration: underline; // redesign
}

// change link formatting on FAQ, Terms of Use & Privacy pages
.wrap .contents div[itemprop="mainContentOfPage"] a {
   text-decoration: underline;
}

.wrap .contents div[itemprop="mainContentOfPage"] a:hover {
    color: lighten($primary,35%);
}

//adjust button colours
.btn-primary {
    background-color:$primary;
}
.btn-primary:hover, .btn-primary.btn-hover {
    /*background-color:$primary;
    text-decoration: underline;*/
    color: $primary;
    background-color: $tertiary;
}

//adjust 'join' group button on group page
.group-index-join.btn.btn-icon-text.ember-view {
    background-color: $tertiary;
    color:$primary;
        .fa.d-icon.d-icon-user-plus.svg-icon.svg-string {
        color:$primary;
    }
}
.group-index-join.btn.btn-icon-text.ember-view:hover {
    background-color: $primary;
    color: $secondary;
    .fa.d-icon.d-icon-user-plus.svg-icon.svg-string {
        color:$secondary;
    }
}

//change position of bulk action moderation button
.bulk-select-container #bulk-select {
    position:inherit;
}

// change link colour in discussions
.cooked, .d-editor-preview, .group-bio {
    a {
        color: #222222;
        text-decoration: underline;
    }
    // but not for buttons
    .button {
        color: #fff;
        text-decoration: none;
    }
    // change @ mentions
    a.mention, a.mention-group {
        text-decoration: none;
        background-color: lighten($primary, 75%);
    }
}
// change link color & style of Oneboxes (for external links)
aside.onebox .onebox-body a[href] {
    color: #222222;
    text-decoration: underline;
}

// change link color of discussion title in the compose reply pop-up window
#reply-control .reply-to .composer-action-title .topic-link, #reply-control .reply-to .composer-action-title .user-link, #reply-control .reply-to .composer-action-title .post-link {
    color: #222222;
    text-decoration: underline;
}

// change link style, bg colour & border of banners
div#banner {
    max-height: 200px;
    background-color: lighten($tertiary, 26%);
    border: 3px dashed $primary;
    max-width: 100%;
        #banner-content a {
            text-decoration: underline;
        }
        // reduces spacing after <p> tags
        p {
            margin-bottom: 0px;
        }
}

// ^^ except text decoration in buttons
div#banner #banner-content a.button {
    text-decoration: none;
}

div#banner #banner-content a.button:hover {
    text-decoration: underline;
}

//change category filter in navigation bar (collapsed)
.list-controls .combo-box .combo-box-header {
    border: 1px solid #222; //redesign
    background-color: $primary !important;
    text-transform: uppercase; //redesign
    letter-spacing: 1.2px; //redesign
    padding: 10px; //redesign
    color: $secondary !important;
    font-weight: 600;
}

.list-controls .combo-box .combo-box-header:hover {
    border: 2px solid #222; //redesign
    padding: 9px; //redesign
    color: $tertiary !important; //redesign
}

.select-kit.combo-box.category-drop .select-kit-row .topic-count {
    display: none;
}

// category and subcategory names in filter navigation buttons
.category-navigation span.name span.badge-wrapper.bullet span.badge-category.clear-badge span.category-name {
    color: #fff;
}

//dropdown arrow icon on category select filter in top navigation
.category-drop-header.ember-view svg.fa.d-icon.d-icon-caret-down.svg-icon.caret-icon.svg-string, svg.fa.d-icon.d-icon-caret-right.svg-icon.caret-icon.svg-string {
    color: #fff;
}

//change background of category filter in navigation bar (expanded: search bar)
.select-kit.combo-box .select-kit-filter {
    background-color: #fff;
}

//change background of category filter in navigation bar (expanded: category list)
.list-controls .select-kit .select-kit-collection {
    background-color: #fff;
}

.select-kit.combo-box.category-drop .select-kit-body {
    border: 1px solid $primary;
}

//hide views column in topics list views
/*
.topic-list .views {
    display: none;
}
*/

//change tag style
.discourse-tag.box {
    //border: 0.6px solid $primary; //redesign
    background-color: darken($secondary,2%);
    margin-top: 4px;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 0.05em;
    color: #404040;
}
.discourse-tag.box:hover {
    box-shadow: 1px 1px 0 0 inset, -1px -1px 0 0 inset;
}

.extra-info-wrapper .topic-header-extra .discourse-tags {
    line-height: 1.6;
}

//HAMBURGER MENU

// change background colour of hamburger menu (to increase contrast for links)
.menu-panel {
    background-color: #fff;
}

.menu-panel ul.menu-links li a:hover, .menu-panel ul.menu-links li a:focus, .menu-panel ul li.heading a:hover, .menu-panel ul li.heading a:focus, .menu-panel li a:hover, .menu-panel li a:focus {
    background-color: #ffcc81;
    color: $primary;
}

//USER NOTIFICATION MENU & NOTIFICATIONS

// change background colour of read notification items in user menu
.user-menu .notifications .read {
    background-color: #fff;
    color: #222;
}

// change bg colour of unread notifications in user menu
.user-menu .notifications li {
    background-color: #ffeed7;
    color: #222;
    a {
        color: #222;
    }
    a:visited {
        color: #919191;
    }
}

// change bg colour of notifications upon hover (and of the icons at top of menu)
.user-menu .notifications li:hover, .user-menu .notifications li:focus, div.menu-links-header a:hover, div.menu-links-header a:focus {
    background-color: #ffcc81;
}

// change colour of 'new' notifications on topic list
.badge-notification.new-topic {
    color: #F45B69;
}

// change style of unread notification icon next to discussion title in list and on user pic
.badge-notification.new-posts, .badge-notification.unread-posts, .d-header-icons .unread-notifications {
    background-color: #F45B69;
    color: #fff;
}

// BUTTONS

//create topic button - add borders & drop shadow | & notification settings button
.btn#create-topic, .dropdown-select-box.notifications-button.category-notifications-button button {
    border: 1px solid #222;
    transition: unset;
    box-shadow: 5px 5px 0 0 $primary;
    background-color: #fff;
    padding: 10px;
}

.btn#create-topic:hover, .dropdown-select-box.notifications-button.category-notifications-button button:hover {
    border: 2px solid #222;
    padding: 9px;
    box-shadow: 5px 5px 0 0 $primary;
    color: $primary;
}

// svg icons in create topic button and notification settings button
.btn#create-topic:hover svg, .dropdown-select-box.notifications-button.category-notifications-button:hover svg, .select-kit.dropdown-select-box .dropdown-select-box-header:hover svg {
    color: $primary;
}

// admin new/reorder categories hamburger button
.list-controls .select-kit.categories-admin-dropdown button, .list-controls .select-kit.tags-admin-dropdown button, .list-controls .select-kit.category-notifications-button button, .list-controls .select-kit.tag-notifications-button button {
    border: 1px solid #222;
    transition: unset;
    box-shadow: 5px 5px 0 0 $primary;
    background-color: #fff;
    padding: 10px;
}

.list-controls .select-kit.categories-admin-dropdown button:hover, .list-controls .select-kit.tags-admin-dropdown button:hover, .list-controls .select-kit.category-notifications-button button:hover, .list-controls .select-kit.tag-notifications-button button:hover {
    border: 2px solid #222;
    padding: 9px;
    box-shadow: 5px 5px 0 0 $primary;
    color: $primary;
}


//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

//No more image cropping
#reply-control .d-editor-preview img:not(.thumbnail):not(.emoji),
.cooked img:not(.thumbnail):not(.emoji) {
  max-width: 100% !important;
  height: auto;
}

//adjust the main header background colour
.d-header {
    //background-color: rgba(250, 250, 250, 0.97);
    background-color: $secondary;
}

// Hide the non-custom Location field on user profiles
.control-group.pref-location {
    display: none;
}

.category-boxes .category-box-inner, .category-boxes-with-topics .category-box-inner {
    background-color: #fff;
    border-style: none;
}

// Change border around category boxes
.category-boxes .category-box, .category-boxes-with-topics .category-box {
    border-width: 2px;
}

//category name styling
.badge-wrapper .badge-category .category-name {
    letter-spacing: 0.05em;
}

//Shrink subcategory box title padding 
.category-box .category-box-heading {
    padding: 0;
}

.category-box-heading h3 {
    margin: 0.5em 0 0.5em 0;
}

// Remove description from subcategory boxes (as displayed in parent categories)
.category-box-inner .description {
    margin: 10px 0;
    padding: 0;
}

// Change style of timeline on discussion threads (overall timeline)
.timeline-container .topic-timeline .timeline-scrollarea {
    border-color: #ffbe5f;
}

// Change style of timeline on discussion threads (current location bar)
 .timeline-container .topic-timeline .timeline-handle {
    background-color: #ffbe5f;
}

.d-icon.d-icon-d-tracking, .d-icon.d-icon-d-watching {
    color: inherit;    
}

// links in notices at bottom of topic lists 
.footer-message.ember-view a {
    text-decoration: underline;
}

// Change style of Admin Post Notices
.post-notice.custom {
    background-color: lighten($tertiary, 10%);
}

// Hide full name of groups on group directory page
.groups-table .groups-info .groups-info-full-name {
    display: none;
}

//Hide banner (gloablly pinned banner discussion) from non-signed in users
.anon #banner {
    display: none;
}

//Babble chat plugin CSS overrides
.babble-sidebar {
    resize: horizontal;
    min-width: 240px;
}

.babble-sidebar-collapsed--left {
    left: 3%;
}
/*
.widget-button.btn.no-text.btn-icon:hover {
    background-color: $tertiary;
    border-radius: 4.5em 6.625em/5.625em 4.5em;
}
*/

//change bg colour of browser notification consent box
.alert.alert-info {
    background-color: lighten($tertiary, 25%);
    border: 2px dashed $primary;
    a {
    color: $primary;
    text-decoration: underline;
    }
}

.alert.alert-info.clickable {
    color: $primary;
}

// private message list in user menu
.user-menu .quick-access-panel .read {
    background-color: #fff;
}

// in-topic button styles
.topic-body .button {
    display: inline-block;
    background: $header_background;
    color: $primary;
    text-align: center;
    font-weight: bold;
    text-decoration:none;
    padding: 6px 12px;
    width: -webkit-max-content;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 10px 0;
    text-decoration: none;
    box-shadow: 3px 3px $primary;
    border: solid 2px $primary;
}
 
.topic-body .button a {
}

.topic-body .button:hover {
    color: $primary;
    text-decoration: none;
    box-shadow: none;
    margin: 13px 0 7px 3px;
}

.topic-body .button:visited {
    color: $primary;
    text-decoration: none;
}

.topic-body .button:active {
    background-color: $secondary;
}

// private message styles
.archetype-private_message {
    .current-user-post {
      .topic-body {
        .regular.contents {
          border: 1px solid var(--tertiary-medium) !important;
          background-color: var(--tertiary-low) !important;
        }
      }
    }

    .topic-body {
        background-color: transparent !important;

        .regular.contents {
            background-color: #fff !important;
        }
    }

    .topic-map {
        background-color: unset !important;
    }
}

.topic-list .topic-list-data {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Disable sticky avatars because it breaks scrolling */
.d-header-wrap {
    // this makes the header position fixed, so it's not part of the page height
    position: fixed;
    width: 100%;
}

// Background image for Sharepair only.
.tag-title-header.tag-banner-sharepair {
    margin-top: 80px;
    background-repeat: no-repeat;
    background-image: url(https://www.nweurope.eu/media/8998/sharepair-logo.png);
    background-position: center bottom;
    background-size: contain;
    background-color: transparent;
}

.tag-title-header:not(.tag-banner-sharepair) {
    display: none;
}

.tag-title-contents {
    display: none;
}

.tag-sharepair .tag-header-widget {
    position: relative;
    top: 70px;
}
