@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

@mixin buttonTransition {
  transition: right 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s,
    visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s,
    background-color 2s, transform 0.5s;
}


.wrap {
    max-width: 1140px;
}

//change bg colour of category list & latest list (on homepage)
.category-list,
.topic-list,
.latest-topic-list {
  background-color: #fff;
}

//increase opacity of fa icons in top nav (e.g. on user page)
.user-main .nav-pills a:hover:not(.active) i {
    opacity: 0.91;
}

//top navigation links

ul#navigation-bar.nav.nav-pills.ember-view li {

}

ul#navigation-bar.nav.nav-pills.ember-view li a {
    border: 1px solid #222; //redesign
    background-color: #fff;
    text-transform: uppercase; //redesign
    letter-spacing: 1.2px; //redesign
    padding: 12px; //redesign
}

ul#navigation-bar.nav.nav-pills.ember-view li:hover {

}

ul#navigation-bar.nav.nav-pills.ember-view li a:hover, ul#navigation-bar.nav.nav-pills.ember-view li a.active {
    border: 2px solid #222; //redesign
    padding: 11px; //redesign
    background: $header_background;
    color: inherit;
}

ul#navigation-bar.nav.nav-pills.ember-view li a.active {
    background-color: $tertiary;
}

//dropdown category menu
li#ember319.select-kit.single-select.combobox.combo-box.category-drop.is-expanded.bullet.ember-view.is-under div#ember322.select-kit-body.ember-view {
    border: 1px solid #222; //redesign
}


//fix color of user profile navigation icons
.user-main .nav-pills {
  a.active i {
    color: $primary;
  }
  a:hover:not(.active) i {
    color: $quaternary;
  }
}

//create conversation cards
body:not(.archetype-private_message) {
  .topic-body {
    background-color: lighten($secondary, 10%);
    margin-top: 10px;
    border-radius: 2px;
    padding: 12px 20px 0 20px;
  }

  //more space for avatars
  .topic-avatar {
    border-top: 0;
    padding-right: 10px;
    .avatar-flair {
      right: 4px;
    }
  }
}

//remove stray border from bottom of last post
.topic-status-info {
  border-top: 0;
}

//improve format of embedded posts
.embedded-posts .topic-avatar {
  padding-left: 0px;
}

.embedded-posts.top.topic-body {
  box-shadow: none;
  background-color: $secondary;
}

//darken color, remove shadow and border when pressed
.btn:active {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
}
/*
//New Topic Fab
#create-topic.btn-default {
  position: fixed;
  bottom: 30px;
  right: 3%;
  z-index: 999;
  padding: 24px 20px 22px 5px;
  background-color: $tertiary;
  color: $tertiary;
  white-space: nowrap;
  text-indent: 17px;
  @include buttonShadow;
  overflow: hidden;
  width: 63px;
  height: 63px;
  @include buttonTransition;
}


#create-topic.btn-default:hover, #create-topic.btn.d-icon {
  text-indent: 8px;
  width: 190px;
  color: #646464;
  font-weight: bold;
}

.widget-button .btn .btn-default .create .no-text .btn-icon .fa .d-icon .d-icon-reply .svg-icon .svg-node {
  color: #000;
}

//Reply Fab
.timeline-footer-controls {
  position: relative;
}

.widget-button.btn.create {
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: -18px;
  z-index: 300;
  background-color: $tertiary;
  color: $header-primary;
  @include buttonShadow;
  overflow: hidden;
  width: 60px;
  height: 60px;
  @include buttonTransition;
}

//Increase size of reply icon
.widget-button.btn.create .fa-reply {
  color: white;
  font-size: 20px;
}
*/
//Proper spacing for iPad portrait
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .timeline-container {
    margin-left: 820px;
  }
  .topic-admin-popup-menu {
    left: -40% !important;
  }
}

//Properly space notifications button
.widget-button.btn.notifications-dropdown {
  right: 4px;
  position: relative;
  border-radius: 40px;
  width: 30px;
  padding: 6px;
}

//cards for search results
.fps-result {
  background-color: lighten($secondary, 10%);
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
}

@keyframes background-fade-highlight {
  0% {
    background-color: lighten($tertiary, 20%);
  }
  100% {
    background-color: lighten($secondary, 10%);
  }
}

// clipped user page button shadows
.user-main .about .controls {
  padding-right: 10px;
}

// RTL Overrides
.rtl {
  .topic-avatar {
    padding-right: initial;
    padding-left: 10px;
    .avatar-flair {
      right: initial;
      left: 4px;
    }
  }
  .embedded-posts .topic-avatar {
    padding-left: initial;
    padding-right: 0;
  }
  #create-topic.btn-default {
    right: initial;
    left: 50px;
    padding: 24px 5px 22px 20px;
  }
  .widget-button.btn.create {
    left: initial;
    right: -18px;
  }
  .widget-button.btn.notifications-dropdown {
    right: initial;
    left: 4px;
  }
  .user-main .about .controls {
    padding-right: initial;
    padding-left: 10px;
  }
}

// RTL Overrides
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .rtl {
    .timeline-container {
      margin-left: initial;
      margin-right: 820px;
    }
    .topic-admin-popup-menu {
      left: initial !important;
      right: -40% !important;
    }
  }
}

//change bg colour of browser notification consent box

.alert.alert-info {
    background-color: lighten($tertiary, 25%);
    border: 2px dashed $primary;
    a {
    color: $primary;
    text-decoration: underline;
    }
}
