.list-controls {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .btn {
    box-shadow: 5px 5px 0 0 #000;
    border: solid 1px #000;
    background-color: #ffffff;
    border-radius: 0;
    font-weight: bold;
    padding: 20px 16px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 1.13px;
    float: left;
    height: 50px;
    margin-right: 15px;

    &:hover {
      border: solid 2px #000;
      background-color: #ffffff;
      padding: 19px 15px;
    }

    &:active,
    &:focus {
      border: solid 1px #000;
      background-color: #000000;
      color: #ffffff;
      box-shadow: 0;
      padding: 19px 16px;
    }

    .d-icon {
      display: none;
    }
  }
}

.row {
  max-width: 1140px;
  margin: 0 auto;

  > div {
    -webkit-flex: 1 1 15em;
  }
}

.d-header-icons {
  .toggle-notifications-menu {
    position: relative;
    display: flex;
    justify-content: center;
    width: 2.2857em;
    height: 2.2857em;
    padding: 0.2143em;
    text-decoration: none;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    outline: none;
    height: 60px;
    width: 60px;

    .notification-bell {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="not_ico" width="30" height="30" viewBox="0 0 30 30"><defs><style>.cls-1{fill:none}</style></defs>    <path id="Path_1882" d="M27.236 19.5c-2.75-2.75-3.25-4-3.25-8.625a9.375 9.375 0 1 0-18.75 0 17.177 17.177 0 0 1-.375 4.5 10.562 10.562 0 0 1-2.75 4.25 1.728 1.728 0 0 0-.375 2 2.117 2.117 0 0 0 1.75 1.125h6.25a5 5 0 0 0 10 0h6.25a2.117 2.117 0 0 0 1.75-1.125 2.017 2.017 0 0 0-.5-2.125zM14.611 4a6.936 6.936 0 0 1 6.875 6.875c0 3.375 0 6 2.875 9.375h-19.5c2.875-3.375 2.875-6 2.875-9.375A6.936 6.936 0 0 1 14.611 4zm-2.5 18.75h5a2.5 2.5 0 0 1-5 0z" data-name="Path 1882" transform="translate(.389 .375)"/></svg>');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.login-button {
    margin-top: 46px;
}